@model EBook_Proj.Models.HomePageBooksViewModel

<div class="bg-light py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="input-group">
                    <input type="text"
                           name="searchString"
                           id="searchString"
                           class="form-control"
                           placeholder="Search for books..."
                           value="@Model.SearchString"
                           autocomplete="off">
                    <select name="genre"
                            id="genre"
                            class="form-select"
                            style="max-width: 150px;">
                        <option value="">All Genres</option>
                        @foreach (var genre in Model.Genres)
                        {
                            if (genre == Model.SelectedGenre)
                            {
                                <option value="@genre" selected>@genre</option>
                            }
                            else
                            {
                                <option value="@genre">@genre</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

